[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
alembic = "*"
pydantic-settings = "*"
python-dotenv = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
python-multipart = "*"
email-validator = "*"
bcrypt = "==4.0.1"
groq = "*"
google-genai = "*"
fpdf2 = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
aiosqlite = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
